## Previous excercise and data-set

In [1]:
import pandas as pd
import numpy as np
import math


data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

# Translate the previous exercise intoa Class

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
from collections import Counter

In [4]:
class Animal:
    def __init__(self, animal, age, visits, priority):
        self.animal = animal
        # self.species = species
        # self.family = family
        self.age = age 
        # self.name = name
        self.__visits = visits
        self.__priority = priority = 0

    @property
    # GETTER
    def visits(self):
        return self.__visits